
body{

    background: rgb(244 244 245);
    margin: 0;
    width: 100VW;
}

*{

    font-family: 'roboto', Times, serif;
    }

h1 {

    font-size: 50px;
    text-align:center;
    padding: 0px 0px 0px 50px;
}

p{

    text-align: justify;
    display: table;
    margin: auto;
    padding:50px
}
audio{

    vertical-align: middle ;
}

button{

    display: table;
    margin: auto;
    padding: 14px;
    border-radius: 100px;
    background: none;
    border: 1px solid;
    color: #fff;

}

video{

    width: 100vw;
    height: 100vh;
}
.image{
    background:url('../images/back.jpg') no-repeat;
    height: 100vh;
    width: 100%;
}

.titre{

    position: absolute;
    transform: translate(50%,50%);
    bottom: 50%;
    padding-top: 30px;
}

.titre h1{
display: table;
text-align: center;
text-transform: uppercase;
margin: auto;
align-items: center;
color: #fff;
}
nav {
display: table;
margin: auto;
padding: 20px;

}

#navbar{
display: flex;
position: absolute;
top: 0;
width: 100%;
padding:12px;
background-color:rgb(48 48 48 / 49%);
}

#navbar >nav>ul>li{
list-style-type: none;
display: inline-block;
margin: auto;
padding: 0;
overflow: hidden;
flex: 1;
}

#WORK,#resume,#contact{

    padding:20px ;
}

li a{
color: #fff;
text-decoration: none;
padding: 0px 10px 0px 10px;
}

li a:hover{
    background: red;
    padding: 13px 20px;
 }


.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  

  #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h1 {
    display: block;
    text-align: center;
  }
  
  #contact h2 {
    
    display: block;
    text-align: center;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 90%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 90%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 90%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: #43A047;
    
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }

 

    



